/* Add here all your css styles (customizations) */
iframe{
    border: none;
}
/*Tab v6
------------------------------------*/
.tab-v6 .nav-tabs {
    border-bottom-color: #dedede;
}

.tab-v6 .nav-tabs > li {
    margin-right: 30px;
}

.tab-v6 .nav-tabs > li > a {
    border: none;
    color: #687074;
    padding: 6px 0;
    font-size: 18px;
    margin-right: 0;
    background: none;
    /*text-transform: uppercase;*/
    border-bottom: solid 1px transparent;
}

.tab-v6 .nav-tabs > li.active > a,
.tab-v6 .nav-tabs > li.active > a:hover,
.tab-v6 .nav-tabs > li.active > a:focus {
    color: #18ba9b;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #18ba9b;
}

.tab-v6 .nav-tabs > li > a:hover {
    border-bottom: 1px solid #18ba9b;
}

.tab-v6 .nav-tabs > li > a:focus {
    border: none;
}

.tab-v6 .tab-content {
    padding: 30px 0;
}

.btn-favourite, .btn-send {
    cursor: pointer;
}

.btn-send:hover {
    color: #18ba9b;
    border: solid 1px #18ba9b;
}

.fb-send, .fb-share-button, .fb-like {
    float: left;
    padding-right: 20px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
    cursor: pointer;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rating-label {
    float: left;
    padding-top: 25px;
    padding-left: 15px;
}

#grid-container{
    background-image: url('../img/bg-movie.png');
    background-repeat: repeat-x;
    background-size: contain;
    padding: 40px 10px 40px 10px;
}